<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <link rel="shortcut icon" href="images/favicon.ico">
   <title>Web Hosting Indonesia | WordPress Gratis SSL - Niagahoster</title>
   <link href="./style/css/bootstrap.css" rel="stylesheet">
   <link href="./style/css/costum.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <!-- tambahan  -->


   <style>

      .slideanim {visibility:hidden;}
      .slide {
         animation-name: slide;
         -webkit-animation-name: slide;
         animation-duration: 2s;
         -webkit-animation-duration: 2s;
         visibility: visible;
      }
      @keyframes slide {
         0% {
            opacity: 0;
            transform: translateY(70%);
         }
         100% {
            opacity: 1;
            transform: translateY(0%);
         }
      }
      @-webkit-keyframes slide {
         0% {
            opacity: 0;
            -webkit-transform: translateY(70%);
         }
         100% {
            opacity: 1;
            -webkit-transform: translateY(0%);
         }
      }
   </style>

   <!-- tambahan -->

</head>



<body>
<!-- Top -->
<div class="atas">
   <div class="container">
      <div class="row">
         <!-- top kiri -->
         <div class="col-lg-6 col-md-6 col-sm-6 hidden-sm">

            <a href="">
               <img src="assets/images/ribbon.png">
            </a>
            Gratis Ebook 9 Cara Cerdas Menggunakan Domain [x]
         </div>
         <!-- akhir top kiri -->
         <div class="col-lg-6 col-md-6 col-sm-6 ">
            <ul>
               <li><a href="#"> <img src="assets/images/user.png" height="20px"> Member Area</a></li>
               <li><a href="#"> <img src="assets/images/chat.png" height="20px"> Live Chat</a></li>
               <li><a href="#"> <img src="assets/images/telp.png" height="20px"> 0274-5305505 </a></li>
            </ul>
         </div>
      </div>
   </div>
</div>

<!--  navbar -->

<div class="navbar-full">
   <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="assets/images/niagahosterlogo.png" alt="Niagahoster">
            </a>
         </div>
         <div id="navbar3" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="#">Hosting</a></li>
               <li><a href="#">Domain</a></li>
               <li><a href="#">Server</a></li>
               <li><a href="#">Website</a></li>
               <li><a href="#">Afiliasi</a></li>
               <li><a href="#">Promo</a></li>
               <li><a href="#">Pembayaran</a></li>
               <li><a href="#">Review</a></li>
               <li><a href="#">Kontak</a></li>
               <li><a href="#">Blog</a></li>

            </ul>
         </div>
         <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
   </nav>
</div>

<!-- akhir navbar -->

<!-- fitur hosting -->

<section class="php-hosting">
   <div class="container">
      <div class="row">

         <div class="col-sm-6 col-md-6">

            <h2>PHP Hosting</h2>
            <h3 style="color: #5E5E5E">Cepat,Handal, penuh dengan<br> modul PHP yang anda butuhkan</h3><br>

            <div>
               <!--  <ul>

                     <li>Solusi PHP untuk performa query yang lebih baik</li>
                     <li>Konsumsi memory yang cukup rendah</li>
                     <li>Support PHP 5.3,5.4,5.5,5.6 ,7.0 ,7.1</li>
                     <li>Fitur Ioncube dan Zend Guard Loader</li>

                 </ul> -->

               <table class="table-responsive">

                  <tbody>
                  <tr>
                     <td class=" glyphicon glyphicon-ok-sign"></td>
                     <td> Solusi PHP untuk performa yang lebih cepat</td>

                  </tr>

                  <tr>
                     <td class=" glyphicon glyphicon-ok-sign"></td>
                     <td> Konsumsi memori yang lebih rendah.</td>

                  </tr>

                  <tr>
                     <td class=" glyphicon glyphicon-ok-sign"></td>
                     <td> Suport PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7</td>

                  </tr>


                  <tr>
                     <td class=" glyphicon glyphicon-ok-sign"></td>
                     <td> Fiktur enkripsi IonCube dan Zend Guard Loaders</td>

                  </tr>

                  </tbody>
               </table>



            </div>

         </div>
         <div class="col-sm-6 col-md-6 slideanim">

            <img src="assets/svg/illustration banner PHP hosting-01.svg">

         </div>

      </div>
   </div>
</section>

<!-- akhir fitur hosting -->

<!-- php fitur -->

<section class="php-fitur">
   <div class="container">
      <div class="row">

         <div id="portfolio" class="container-fluid text-center">
            <div class="row text-center slideanim">
               <div class="col-sm-4">
                  <div class="thumbnail"><br><br>
                     <img src="assets/images/zendguard.png">
                     <br>
                     <p>PHP Zend Guard Loader</p>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="thumbnail">
                     <img src="assets/images/composer.png" width="73px">
                     <br>
                     <p>PHP Composer</p>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="thumbnail"><br><br>
                     <img src="assets/images/ioncube.png">
                     <br>
                     <p>PHP ioncube Loader</p>
                  </div>
               </div>
            </div><br>
            <hr>
         </div>
      </div>
</section>

<!-- php fitur -->

<!-- price hosting -->

<section class="pricing" id="pricing">
   <div class="container" ng-app="myApp">
      <div class="row text-center slideanim" ng-controller="newsController">
         <h2><b>Paket Hosting Singapura yang tepat</b></h2>
         <h3>Diskon 40% + Domain dan SSL Gratis untuk anda</h3><br><br>

         <div class="col-md-3 col-sm-6">
            <div class="pricing-table">
               <div class="pricing-header">
                  <div class="pt-name">Bayi</div>
                  <div class="pt-price" ng-repeat="berita in harga">

                     <!-- Angular Js markup Harga -->
                     <h4 style="text-decoration: line-through;">{{berita.Paketbayi_sebelumdiskon}}</h4>
                     <sup>{{(berita.Paketbayi_sesudahdiskon).slice(0,2)}}</sup>
                     {{(berita.Paketbayi_sesudahdiskon).slice(2,5)}}<sup>{{(berita.Paketbayi_sesudahdiskon).slice(5,10)}}/bln</sup></div>
                  <!-- Akhir Angular Js markup Harga -->

                  <div class="pt-name" ng-repeat="berita in harga" ><h5><b>{{berita.Pelanggan_paketbayi}}</b> Pengguna Terdaftar</h5> </div>
               </div>
               <!-- Akhir Angular Js markup Harga -->

               <div class="pricing-body">{{berita.HeadLine}}
                  <ul>
                     <li><b>0.5x RESOURCE POWER</b></li>
                     <li><b>500 MB</b> Disk Space</li>
                     <li><b>Unlimited</b> Bandwidth</li>
                     <li><b>Unlimited</b> Database</li>
                     <li><b>1</b> Domain</li>
                     <li><b>Instant</b> Backup</li>
                     <li><b>Unlimited SSL</b> gratis selamanya</li>
                  </ul>
               </div>
               <div class="pricing-footer">
                  <a href="#" class="btn btn-default"><b>Pilih Sekarang</b></a>
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="pricing-table">
               <div class="pricing-header">
                  <div class="pt-name">Pelajar</div>
                  <div class="pt-price" ng-repeat="berita in harga">

                     <!-- Angular Js markup Harga & pelanggan -->

                     <h4 style="text-decoration: line-through;">{{berita.Paketpelajar_sebelumdiskon}}</h4>
                     <sup>{{(berita.Paketpelajar_sesudahdiskon).slice(0,2)}}</sup>
                     {{(berita.Paketpelajar_sesudahdiskon).slice(2,5)}}<sup>{{(berita.Paketpelajar_sesudahdiskon).slice(5,10)}}/bln</sup></div>



                  <div class="pt-name" ng-repeat="berita in harga"><h5><b>{{berita.Pelanggan_paketpelajar}}</b> Pengguna Terdaftar</h5></div>
               </div>

               <!-- Akhir Angular Js markup Harga -->

               <div class="pricing-body">
                  <ul>
                     <li><b>1X RESOURCE POWER</b></li>
                     <li><b>Unlimited</b> Disk Space</li>
                     <li><b>Unlimited</b> Bandwidth</li>
                     <li><b>Unlimited</b> POP3 E-mail</li>
                     <li><b>Unlimited</b> Database</li>
                     <li><b>10</b> Addon Domain</li>
                     <li><b>Instant</b> Backup</li>
                     <li><b>Domain Gratis</b> Selamanya</li>
                     <li><b>Unlimited SSL</b> gratis selamanya</li>
                  </ul>
               </div>
               <div class="pricing-footer">
                  <a href="#" class="btn btn-default"><b>Pilih Sekarang</b></a>
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="pricing-table featured">
               <div class="pricing-header">
                  <div class="pt-name" style="background-color: #298eea;">Personal</div>
                  <div class="pt-price" style="background-color: #298eea;" ng-repeat="berita in harga">

                     <!-- Angular Js markup Harga & pelanggan -->

                     <h4 style="text-decoration: line-through;">{{berita.Paketpersonal_sebelumdiskon}}</h4>
                     <sup>{{(berita.Paketpersonal_sesudahdiskon).slice(0,2)}}</sup>
                     {{(berita.Paketpersonal_sesudahdiskon).slice(2,5)}}<sup>{{(berita.Paketpersonal_sesudahdiskon).slice(5,10)}}/bln</sup></div>



                  <div class="pt-name personal" style="background-color: #177eda;" ng-repeat="berita in harga"><h5><b>{{berita.Pelanggan_paketpersonal}}</b> Pengguna Terdaftar</h5></div>

                  <!-- Akhir Angular Js markup Harga -->

                  <div class="featured-text">Best Seller!</div>
               </div>
               <div class="pricing-body" style="border: 1px solid #298eea;">
                  <ul>
                     <li><b>2X RESOURCE POWER</b></li>
                     <li><b>Unlimited </b>Disk Space</li>
                     <li><b>Unlimited </b>Bandwidth</li>
                     <li><b>Unlimited </b> POP3 E-mail</li>
                     <li><b>Unlimited </b> Database</li>
                     <li><b>10 </b> Addon Domain</li>
                     <li><b>Instant</b> Backup</li>
                     <li><b>Domain</b> Gratis Selamanya</li>
                     <li><b>Unlimited SSL</b> gratis selamanya</li>
                     <li><b>Private</b> Name Server</li>
                     <li><b>SpamAssasin</b> Mail Protection</li>
                  </ul>
               </div>
               <div class="pricing-footer" style="border: 1px solid #298eea;" >
                  <a href="#" class="btn btn-main"><b>Pilih Sekarang</b></a>
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="pricing-table">
               <div class="pricing-header">
                  <div class="pt-name">Bisnis</div>
                  <div class="pt-price" ng-repeat="berita in harga">

                     <!-- Angular Js markup Harga -->

                     <h4 style="text-decoration: line-through;">{{berita.Paketbisnis_sebelumdiskon}}</h4>
                     <sup>{{(berita.Paketbisnis_sesudahdiskon).slice(0,2)}}</sup>
                     {{(berita.Paketbisnis_sesudahdiskon).slice(2,5)}}<sup>{{(berita.Paketbisnis_sesudahdiskon).slice(5,10)}}/bln</sup></div>


                  <div class="pt-name" ng-repeat="berita in harga"><h5><b>{{berita.Pelanggan_paketbisnis}}</b> Pengguna Terdaftar</div>
               </div>

               <!-- Akhir Angular Js markup Harga -->

               <div class="pricing-body">
                  <ul>
                     <li><b>3X RESOURCE POWER</b></li>
                     <li><b>Unlimited </b>Disk Space</li>
                     <li><b>Unlimited </b>Bandwidth</li>
                     <li><b>Unlimited </b> POP3 E-mail</li>
                     <li><b>Unlimited </b> Database</li>
                     <li><b>10 </b> Addon Domain</li>
                     <li><b>Instant</b> Backup</li>
                     <li><b>Domain</b> Gratis Selamanya</li>
                     <li><b>Unlimited SSL</b> gratis selamanya</li>
                     <li><b>Private</b> Name Server</li>
                     <li><b>Prioritas</b> Layanan Support</li>
                     <li>
                        <i class="fa fa-star"> </i>
                        <i class="fa fa-star"> </i>
                        <i class="fa fa-star"> </i>
                        <i class="fa fa-star"> </i>
                        <i class="fa fa-star"> </i><br>

                        <b>SpamAssasin</b> Mail Protection </li>
                  </ul>
               </div>
               <div class="pricing-footer">
                  <a href="#" class="btn btn-default"><b>Pilih Sekarang</b></a>
               </div>
            </div>
         </div>
      </div>
   </div>

</section>
<!-- akhir price hosting -->

<!-- limit php -->

<section class="limit-php">
   <div class="container">
      <div class="row text-center">
         <h3>Powerfull dengan limit php yang lebih besar</h3><br>

         <div class="row">

            <div class="col-md-4 col-md-offset-2">

               <!-- table -->
               <table class="table">

                  <tbody>
                  <tr>
                     <td class=" glyphicon glyphicon-ok-sign"></td>
                     <td>max execution time 300s</td>

                  </tr>

                  <tr class="active">
                     <td class=" glyphicon glyphicon-ok-sign"></td>
                     <td>max execution time 300s</td>

                  </tr>

                  <tr>
                     <td class=" glyphicon glyphicon-ok-sign"></td>
                     <td>php memory limit 1024 MB</td>

                  </tr>

                  </tbody>
               </table>
            </div>
            <div class="col-md-4">

               <table class="table">

                  <tbody>
                  <tr>
                     <td class=" glyphicon glyphicon-ok-sign"></td>
                     <td>post max size 128 MB</td>

                  </tr>

                  <tr class="active">
                     <td class=" glyphicon glyphicon-ok-sign"></td>
                     <td>upload max filesize 128 MB</td>

                  </tr>

                  <tr>
                     <td class=" glyphicon glyphicon-ok-sign"></td>
                     <td>max input vars 2500</td>

                  </tr>

                  </tbody>
               </table>

            </div>
         </div>

         <!-- konten next -->
         <hr>

      </div>
   </div>
</section>


<!-- akhir  limit php -->

<!-- hosting support -->

<section class="hosting-support">
   <div class="container-fluid text-center">

      <h3>Semua Paket Hosting Sudah Termasuk</h3>
      <br>
      <div class="row slideanim">
         <div class="col-sm-4">

            <img src="assets/svg/icon PHP Hosting_PHP Semua Versi.svg">

            <h4><b>PHP Semua Versi</b></h4>
            <p>Pilih mulai versi 5.3 s/d PHP 7. <br>Ubah sesuka Anda! </p>
         </div>
         <div class="col-sm-4">
            <img src="assets/svg/icon PHP Hosting_My SQL.svg">
            <h4><b>Mysql Versi 5.6</b></h4>
            <p>Nikmati MySQL versi terbaru, tercepat dan <br> kaya akan fitur.</p>
         </div>
         <div class="col-sm-4">
            <img src="assets/svg/icon PHP Hosting_CPanel.svg">
            <h4><b> Panel Hosting cPanel</b></h4>
            <p>Kelola website dengan panel canggih yang <br> familiar di hati Anda.</p>
         </div>
      </div>
      <br><br>
      <div class="row slideanim">
         <div class="col-sm-4">
            <img src="assets/svg/icon PHP Hosting_garansi uptime.svg">
            <h4><b>Garansi Uptime 99.9%</b></h4>
            <p>Data center yang mendukung kelangsungan <br> website Anda 24/7.</p>
         </div>
         <div class="col-sm-4">
            <img src="assets/svg/icon PHP Hosting_InnoDB.svg">
            <h4><b>Database InnoDB Unlimited</b></h4>
            <p>Jumlah dan ukuran database yang tumbuh <br> sesuai dengan kebutuhan Anda.</p>
         </div>
         <div class="col-sm-4">
            <img src="assets/svg/icon PHP Hosting_My SQL remote.svg">
            <h4 style="color:#303030;"><b>Wildcard Remote MySQL</b></h4>
            <p>Mendukung s/d 25 max_user_connections<br>dan 100 max_connections.</p>
         </div>
      </div>

      <hr>
      <br>
   </div>
</section>

<!-- hosting support -->


<!-- hosting-framework -->

<section class="hosting-framework">
   <div class="container">

      <div class="row">
         <div class="text-center"><h3>Mendukung Penuh Framework Laravel</h3></div><br>

         <div class="col-sm-6 col-md-6">

            <p>Tak perlu menggunakan dedicated server atauoun VPS<br>yang mahal. Layanan PHP hosting murah kami<br>mendukung penuh framework favorit Anda</p>

            <div class="text-left"><br>
               <!-- <ul>

                    <li class=" glyphicon glyphicon-ok-sign">Solusi PHP untuk performa query yang lebih baik</li>
                    <li>Konsumsi memory yang cukup rendah</li>
                    <li>Support PHP 5.3,5.4,5.5,5.6 ,7.0 ,7.1</li>
                    <li>Fitur Ioncube dan Zend Guard Loader</li>

                </ul>-->


               <table class="table-responsive">

                  <tbody>
                  <tr>
                     <td class=" glyphicon glyphicon-ok-sign"></td>
                     <td> Install Laravel <strong>1 klik </strong>dengan Softacolous Installer.</td>

                  </tr>

                  <tr class="success">
                     <td class=" glyphicon glyphicon-ok-sign"></td>
                     <td> Mendukung exstensi <strong>PHP MCrypt, phar, mbstring, json, dan fileinfo.</strong></td>

                  </tr>

                  <tr>
                     <td class=" glyphicon glyphicon-ok-sign"></td>
                     <td> Tersedia <strong>Composer</strong>  dan <strong>SSH</strong>  untuk menginstal packages piihan Anda.</td>

                  </tr>

                  <tr class="success">
                     <td><small><b><br>Nb.</b></small></td>
                     <td> <small><br>Composer dan SSH hanya tersedia pada paket Personal dan Bisnis</small></td>

                  </tr>

                  </tbody>
               </table>
               </br>

               <button type="button" class="btn btn-primary btn-lg"><b>Piih Hosting Anda</b></button>

            </div>

         </div>
         <div class="col-sm-6 col-md-6">

            <img src="assets/svg/illustration banner support laravel hosting.svg">

         </div>

      </div>
   </div>
</section>

<!-- akhir hosing framework -->


<!-- modul hosting -->

<section class="modul-hosting">
   <div class="container text-center slideanim">
      <div class="row">

         <div class="col-sm-12">
            <h3 style="color: #4d4d4d !important;">Modul lengkap untuk menjalankan Aplikasi PHP Anda</h3><br>

            <div class="col-md-3">
               <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">IcePHP</a></li>
                  <li><a class="text-muted" href="#">apc</a></li>
                  <li><a class="text-muted" href="#">apcu</a></li>
                  <li><a class="text-muted" href="#">apm</a></li>
                  <li><a class="text-muted" href="#">ares</a></li>
                  <li><a class="text-muted" href="#">bcmath</a></li>
                  <li><a class="text-muted" href="#">bcompiler</a></li>
                  <li><a class="text-muted" href="#">big_int</a></li>
                  <li><a class="text-muted" href="#">bitset</a></li>
                  <li><a class="text-muted" href="#">bloomy</a></li>
                  <li><a class="text-muted" href="#">bz2_filter</a></li>
                  <li><a class="text-muted" href="#">clamav</a></li>
                  <li><a class="text-muted" href="#">cin_acceptor</a></li>
                  <li><a class="text-muted" href="#">crack</a></li>
                  <li><a class="text-muted" href="#">dba</a></li>
               </ul>
            </div>
            <div class="col-md-3">
               <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">http</a></li>
                  <li><a class="text-muted" href="#">huffman</a></li>
                  <li><a class="text-muted" href="#">idn</a></li>
                  <li><a class="text-muted" href="#">igbinary</a></li>
                  <li><a class="text-muted" href="#">imagick</a></li>
                  <li><a class="text-muted" href="#">imap</a></li>
                  <li><a class="text-muted" href="#">inclued</a></li>
                  <li><a class="text-muted" href="#">inotify</a></li>
                  <li><a class="text-muted" href="#">interbase</a></li>
                  <li><a class="text-muted" href="#">intl</a></li>
                  <li><a class="text-muted" href="#">ioncube_loader</a></li>
                  <li><a class="text-muted" href="#">ioncube_loader_4</a></li>
                  <li><a class="text-muted" href="#">jsmin</a></li>
                  <li><a class="text-muted" href="#">json</a></li>
                  <li><a class="text-muted" href="#">idap</a></li>
               </ul>
            </div>
            <div class="col-md-3">
               <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">nd_pdo_mysql</a></li>
                  <li><a class="text-muted" href="#">oauth</a></li>
                  <li><a class="text-muted" href="#">oci8</a></li>
                  <li><a class="text-muted" href="#">odbc</a></li>
                  <li><a class="text-muted" href="#">opcache</a></li>
                  <li><a class="text-muted" href="#">pdf</a></li>
                  <li><a class="text-muted" href="#">pdo</a></li>
                  <li><a class="text-muted" href="#">pdo_dblib</a></li>
                  <li><a class="text-muted" href="#">pdo_firebird</a></li>
                  <li><a class="text-muted" href="#">pdo_mysql</a></li>
                  <li><a class="text-muted" href="#">pdo_odbc</a></li>
                  <li><a class="text-muted" href="#">pdo_pgsql</a></li>
                  <li><a class="text-muted" href="#">pdo_sqlite</a></li>
                  <li><a class="text-muted" href="#">pdosql</a></li>
                  <li><a class="text-muted" href="#">phalcon</a></li>
               </ul>
            </div>
            <div class="col-md-3">
               <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">stats</a></li>
                  <li><a class="text-muted" href="#">stem</a></li>
                  <li><a class="text-muted" href="#">stomp</a></li>
                  <li><a class="text-muted" href="#">suhosin</a></li>
                  <li><a class="text-muted" href="#">sybase_ct</a></li>
                  <li><a class="text-muted" href="#">sysvmsg</a></li>
                  <li><a class="text-muted" href="#">sysvsem</a></li>
                  <li><a class="text-muted" href="#">sysvshm</a></li>
                  <li><a class="text-muted" href="#">tidy</a></li>
                  <li><a class="text-muted" href="#">timezonedb</a></li>
                  <li><a class="text-muted" href="#">trader</a></li>
                  <li><a class="text-muted" href="#">translit</a></li>
                  <li><a class="text-muted" href="#">uploadprogress</a></li>
                  <li><a class="text-muted" href="#">uri_template</a></li>
                  <li><a class="text-muted" href="#">uuid</a></li>
               </ul>
            </div>
         </div>
      </div><br>

      <a href="#" class="btn btn-default"><b>Selengkapnya</b></a>


   </div>
</section>
<!-- akhir modul hosting -->


<!-- linux hosting -->

<section class="linux-hosting">
   <div class="container">

      <div class="row">
         <div class="text-left"><h2 style="color: #4d4d4d !important;">Linux Hosting yang stabil <br>dengan Teknologi LVE</h2></div><br>

         <div class="col-sm-3 col-md-6">

            <p align="justify" >SuperMicro <b>Intel Xeon 24-Cores</b> server dengan RAM <b>128 GB</b> dan teknologi <b>LVE CloudLinux</b> untuk stabilitas server anda. Dilengkapi dengan <b>SSD</b> untuk kecepatan <b>Mysql</b> dan caching. Apache load balancer berbasis LiteSpeed Technologi, <b>CageFS</b> security, <b>Raid-10</b> proctection dan auto backup untuk keamanan website PHP anda.</p>

            <div class="text-left"><br>

               <button type="button" class="btn btn-primary btn-lg">Piih Hosting Anda</button>

            </div>

         </div>
         <div class="col-sm-9 col-md-6 slideanim">

            <img src="assets/images/Image support.png">

         </div>

      </div>
   </div>
</section>



<!-- selesai linux hosting -->


<!-- footer-linux -->

<section class="footer-linux ">
   <div class="container">
      <div class="col-md-6">

         <h5>Bagikan jika Anda menyukai halaman ini</h5>

      </div>
      <div class="col-md-6"></div>
      <h5>
         <i class="fa fa-facebook-square" style="font-size:48px;color:#23599B"></i>
         <i class="fa fa-twitter-square" style="font-size:48px;color:#00AEF1"></i>
         <i class="fa fa-google-plus-square" style="font-size:48px;color:#FC4A35"></i>
      </h5>

   </div>
</section>


<!-- akhir footer-linux -->


<!-- footer-bantuan -->

<section class="footer-bantuan">
   <div class="container">

      <div class="col-md-9 col-ms-9 col-sm-12 col-xs-12">

         <span>Perlu <span><b>BANTUAN</b></span> ? Hubungi Kami : <strong>0274-5305505</strong></span>

      </div>
      <div class="col-md-3 col-ms-3 col-sm-12 col-xs-12">

         <div class="float-left text-right">

            <button type="button" class="btn btn-primary btn-lg "> Live Chat </button>

         </div>


      </div>

   </div>
</section>

<!-- akhir footer-bantuan -->


<!-- footer menu -->

<section class="footer-menu">
   <div class="container">
      <div class="row">
         <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12"><h3>HUBUNGI KAMI</div>
         <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12"><h3>LAYANAN</div>
         <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12"><h3>SERVICE HOSING</div>
         <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12"><h3>TUTORIAL</div>


         <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12 text-left">

            <a href="tel:+62742920443">0274-5305505</a>
            <p> Senin - Minggu<br>24 Jam Non Stop</p><br>
            <p>Jl. Selokan Mataram Monjali<br>
               Karangjati MT I/304<br>
               RT019 RW 042<br>
               Sinduadi, Mlati, Sleman<br>
               Daerah Istimewa Yogyakarta <br>55284</p>

         </div>

         <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12">

            <ul class="nav navbar-link">
               <a href="#"> <li>Domain</li></a>
               <a href="#"> <li>Shared Hosting</li></a>
               <a href="#"><li>Cloud VPS Hosting</li></a>
               <a href="#"> <li>Transfer Hosting</li></a>
               <a href="#"> <li>Web Builder</li></a>
               <a href="#"> <li>Keamanan SSL/HTTPS</li></a>
               <a href="#"> <li>Jasa Pembuatan Website</li></a>
               <a href="#"> <li>Program Affiliasi</li></a>

            </ul>


         </div>
         <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12">

            <ul class="nav navbar-link">
               <a href="#"> <li>Hosting Murah</li></a>
               <a href="#"> <li>Hosting Indonesia</li></a>
               <a href="#"> <li>Hosting Singapura SG</li></a>
               <a href="#"> <li>Hosting PHP</li></a>
               <a href="#"> <li>Hosting Wordpress</li></a>
               <a href="#"> <li>Hosting Laravel</li></a>
            </ul>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12">

            <ul class="nav navbar-link">
               <a href="#"> <li>Knowledgebase</li></a>
               <a href="#"> <li>Blog</li></a>
               <a href="#"> <li>Cara Pembayaran</li></a>

            </ul>
         </div>
      </div>

      <!-- tentang kami -->
      <div class="row">

         <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12"><h3>TENTANG KAMI</h3></div>
         <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12"><h3>KENAPA PILIH NIAGAHOSTER?</h3></div>
         <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12"><h3>NEWSLETTER</h3></div>
         <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12"><h3></h3></div>

      </div>
      <div class="row">

         <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12 text-left">

            <ul class="nav navbar-link">
               <a href="#"> <li>Tim Niagahoster</li></a>
               <a href="#"> <li>Karir</li></a>
               <a href="#"><li>Events</li></a>
               <a href="#"> <li>Penawaran & Promo Spesial</li></a>
               <a href="#"> <li>Kontak Kami</li></a>

            </ul>

         </div>

         <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12">

            <ul class="nav navbar-link">
               <a href="#"> <li>Support Terbaik</li></a>
               <a href="#"> <li>Garansi Harga Termurah</li></a>
               <a href="#"><li>Domain Gratis Selamanya</li></a>
               <a href="#"> <li>Datacenter Hosting Terbaik</li></a>
               <a href="#"> <li>Review Pelanggan</li></a>
            </ul>


         </div>
         <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12">

            <form class="pull-left">
               <div class="input-group">
                  <input type="" name="" class="form-control" placeholder="Email">
                  <span class="input-group-btn">
                     <button class="btn btn-info btn2">Berlangganan</button>
                  </span>

               </div>
            </form>
            <br>
            <span>Dapatkan promo dan konten menarik dari penyedia Hosting Anda </span>

         </div>
         <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12">

         </div>
      </div>
      <br>
      <!--  -->
      <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12 col-xs-12">

            <h5><b>PEMBAYARAN</b></h5>

            <div class="col-md-1 col-sm-6 col-xs-4 col-xxs-4"> <a href="#"> <img src="assets/images/logo-bca-bordered.svg"></a> </div>
            <div class="col-md-1 col-sm-6 col-xs-4 col-xxs-4"> <a href="#"> <img src="assets/images/mandiriclickpay.svg"></a> </div>
            <div class="col-md-1 col-sm-6 col-xs-4 col-xxs-4"> <a href="#"> <img src="assets/images/logo-bni-bordered.svg"></a> </div>
            <div class="col-md-1 col-sm-6 col-xs-4 col-xxs-4"> <a href="#"> <img src="assets/images/Visa.svg"></a> </div>
            <div class="col-md-1 col-sm-6 col-xs-4 col-xxs-4"> <a href="#"> <img src="assets/images/Mastercard.svg"></a> </div>
            <div class="col-md-1 col-sm-6 col-xs-4 col-xxs-4"> <a href="#"> <img src="assets/images/atmbersama.svg"></a> </div>
            <div class="col-md-1 col-sm-6 col-xs-4 col-xxs-4"> <a href="#"> <img src="assets/images/permatabank.svg"></a> </div>
            <div class="col-md-1 col-sm-6 col-xs-4 col-xxs-4"> <a href="#"> <img src="assets/images/prima.svg"></a> </div>
            <div class="col-md-1 col-sm-6 col-xs-4 col-xxs-4"> <a href="#"> <img src="assets/images/Alto.svg"></a> </div>



         </div>

      </div>
      <small>Aktivasi instan dengan e-Payment. Hosting dan domain langsung aktif!</small>
   </div>
</section>

<section class="copyright_info">
   <div class="container">
      <div class="row">
         <hr>
         <div class="col-md-9">
            Copyright ©2016 Niagahoster | Hosting powered by PHP7,
            CloudLinux, CloudFlare, BitNinja and DC Biznet Technovillage Jakarta<br>
            Cloud VPS Murah powered by Webuzo
            Softaculous, Intel SSD and cloud computing technology
         </div>


         <div class="col-md-3">


            <a href="#" style="color: #d7d7d7;">Syarat dan Ketentuan </a>|

            <span>

            <a href="#" style="color: #d7d7d7;">Kebijakan Privasi</a>
          </span>

         </div>


      </div>
   </div>
</section>


<!-- akhir copyright -->


<!-- jQuery -->



<script src="./style/js/jquery.min.js"></script>
<script src="./style/js/bootstrap.min.js"></script>
<script src="./style/js/angular.min.js"></script>
<script src="./style/js/app.js"></script>

<!-- animasi -->

<script>
    $(document).ready(function(){
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function(){

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });

        $(window).scroll(function() {
            $(".slideanim").each(function(){
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                    $(this).addClass("slide");
                }
            });
        });
    })
</script>

<!-- akhir animasi -->

</body>
</html>
